---
import { SITE_NAVIGATION, SITE_SOCIALS } from "@/consts";
import Container from "@/components/containers/Container.astro";
import Muted from "@/components/typography/Muted.astro";
import FooterItem from "@/components/footer/FooterItem.astro";
---
<footer class="max-md:pb-16">
  <Container>
    <div class="py-4 flex flex-col space-y-4 justify-between font-medium border-zinc-200 border-t">
      <div class="flex justify-between">
        <ul class="flex space-x-4">
          {SITE_NAVIGATION.map(item => (
            <FooterItem name={item.name} url={item.url} />
          ))}
        </ul>
        <ul class="flex space-x-4">
          {SITE_SOCIALS.map(item => (
            <FooterItem name={item.name} url={item.url} />
          ))}
        </ul>
      </div>
      <div class="flex justify-between">
        <Muted>Built in Battersea</Muted>
        <Muted>© CJ Williams, 2023</Muted>
      </div>
    </div>
  </Container>
</footer>
