---
import { Image } from "astro:assets";

interface Props {
  imagePath: string
  altText: string
}

const { imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/images/*.{jpg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpg,jpg,png,gif}"`);
---
<div class="rounded-md border mb-8">
  <Image class="rounded-md" src={images[imagePath]()} alt={altText} />
</div>